<html style="zoom: 90%">
<head>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <title>{{ title }}</title>
</head>
<body>

<button class="button" onclick="window.location.href = 'http://fefu.ml:1613/active_record?'"
        style="margin-left: 30%;">Active Record
</button>
<button class="button" onclick="window.location.href = 'http://fefu.ml:1613/repository_data_mapper?'"
        style="margin: 0;">Repository + Data Mapper
</button>
</body>
</html>